@model MyBlogByMVC.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
